body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    max-width: 1000px;
    max-height: 500px;
    width: 50%;
    height: 50%;
    min-width: 100vw;
    min-height: 100vh;
}

.logoBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}

.block {
    display: flex;
    justify-content: center;
    flex-shrink: 50%;
    align-items: center;
    /* background: blue; */
    min-height: 100vh;
    min-width: 50vw;
    width: 69vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

.block h1 {
    font-size: 40px;
    text-align: center;
    /* background: cyan; */
}

.block .input-box {
    display: flex;
    width: 100%;
    height: 15px;
    margin: 15px 0px;
    /* background: lightblue; */
    
}

.input-box label {
    text-align: left;
    line-height: 1;
    letter-spacing: normal;
    font-size: 17px;
    padding-right: 10px;
    font-family: 'Calibri', 'Times New Roman', Arial
}

.input-box input {
    border-radius: 50px;
    font-size: 13px;
    box-sizing:content-box;
}

.button {
    border-radius: 45px;
}